<div class="row">
  <div class="col-md-6">
    <%= form_for @user do |f| %>
    <%= render 'error_messages'%>
      <%= f.label :title%>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :address %>
      <%= f.text_field :address %>

      <%= f.label :number %>
      <%= f.text_field :number %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation %>

      <%= f.label :country %>
     <%= f.country_select :country, prompt: "Select a country" %>
      <%= f.submit "Create my account", class: "btn btn-primary"%>
    <% end %>

  </div>

</div>
