<h1>Thong tin ca nhan</h1>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">Ten: <%= @user.name%></h4>
    <h4 class="card-title">Email: <%= @user.email%></h4>
    <h4 class="card-title">Dia chi: <%= @user.address%></h4>
    <h4 class="card-title">Dienthoai: <%= @user.number%></h4>
    <h4 class="card-title">Nuoc: <%= @user.country_name%></h4>
    <a href="#" class="card-link">Chinh sua</a>
  </div>
</div>